*{
    box-sizing: border-box;
}
#about-body
{
    background-color: white;
    width: 100%;
}

@media screen and (min-width: 901px)
{
    #about-header
    {
        position: relative;
        height: 59rem;
        width: 100%;
        background: no-repeat relative;
        background-position: 0%;
        background-size: auto 120%;
        background-image: url(../assets/angled_dark_cropped_new.jpg);
    }

    #about-logo
    {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 25%;
        width: 25rem;
    }

    #about-subtext
    {
        position: absolute;
        top: 35%;
        left: 10%;
        height: 30rem;
        width: 90%;
    }

    #about-I
    {
        position: absolute;
        left: 0%;
        top: 0%;
        color: white;
        font-size: .7in;
        width: 15rem;
        overflow: hidden;
        animation: move-I 6s;
    }

    #about-E1
    {
        position: absolute;
        left: 0%;
        top: 20%;
        color: white;
        font-size: .7in;
        width: 16rem;
        overflow: hidden;
        animation: move-E1 6s;
    }

    #about-E2
    {
        position: absolute;
        left: 0%;
        top: 40%;
        color: white;
        font-size: .7in;
        width: 20rem;
        overflow: hidden;
        animation: move-E2 6s;
    }

    #about-E3
    {
        position: absolute;
        left: 0%;
        top: 60%;
        color: white;
        font-size: .7in;
        width: 18rem;
        overflow: hidden;
        animation: move-E3 6s;
    }

    #about-ua-logo
    {
        width: 22rem;
        height: 22rem;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }

    @keyframes move-I
    {
        0%{top: 0%; left: calc(20% + 3rem); width: 1rem;}
        25%{top: 0%; left: calc(20% + 3rem); width: 1rem;}
        50%{top: 0%; left: 0%; width: 1rem;}
        100%{top: 0%; left: 0%; width: 15rem;}
    }

    @keyframes move-E1
    {
        0%{top: 0%; left: calc(20% + 4.5rem); width: 2rem;}
        25%{top: 0%; left: calc(20% + 4.5rem); width: 2rem;}
        50%{top: 20%; left: 0%; width: 2rem;}
        100%{top: 20%; left: 0%; width: 16rem;}
    }

    @keyframes move-E2
    {
        0%{top: 0%; left: calc(20% + 7rem); width: 2rem;}
        25%{top: 0%; left: calc(20% + 7rem); width: 2rem;}
        50%{top: 40%; left: 0%; width: 2rem;}
        100%{top: 40%; left: 0%; width: 20rem;}
    }

    @keyframes move-E3
    {
        0%{top:0%; left: calc(20% + 9.5rem); width: 2rem;}
        25%{top: 0%; left: calc(20% + 9.5rem); width: 2rem;}
        50%{top: 60%; left: 0%; width: 2rem;}
        100%{top: 60%; left: 0%; width: 18rem;}
    }
}

@media screen and (max-width: 900px) and (min-width: 701px)
{
    #about-header
    {
        position: relative;
        height: 59rem;
        width: 100%;
        background: no-repeat relative;
        background-position: 0%;
        background-size: auto 120%;
        background-image: url(../assets/angled_dark_cropped_new.jpg);
    }

    #about-logo
    {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 25%;
        width: 90%;
    }

    #about-subtext
    {
        position: absolute;
        top: 35%;
        left: 10%;
        height: 30rem;
        width: 90%;
    }

    #about-I
    {
        position: absolute;
        left: 0%;
        top: 0%;
        color: white;
        font-size: .7in;
        width: 15rem;
        overflow: hidden;
        animation: move-I 6s;
    }

    #about-E1
    {
        position: absolute;
        left: 0%;
        top: 20%;
        color: white;
        font-size: .7in;
        width: 16rem;
        overflow: hidden;
        animation: move-E1 6s;
    }

    #about-E2
    {
        position: absolute;
        left: 0%;
        top: 40%;
        color: white;
        font-size: .7in;
        width: 20rem;
        overflow: hidden;
        animation: move-E2 6s;
    }

    #about-E3
    {
        position: absolute;
        left: 0%;
        top: 60%;
        color: white;
        font-size: .7in;
        width: 18rem;
        overflow: hidden;
        animation: move-E3 6s;
    }

    #about-ua-logo
    {
        width: 75%;
        height: 75%;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }

    @keyframes move-I
    {
        0%{top: 0%; left: calc(20% + 3rem); width: 1rem;}
        25%{top: 0%; left: calc(20% + 3rem); width: 1rem;}
        50%{top: 0%; left: 0%; width: 1rem;}
        100%{top: 0%; left: 0%; width: 15rem;}
    }

    @keyframes move-E1
    {
        0%{top: 0%; left: calc(20% + 4.5rem); width: 2rem;}
        25%{top: 0%; left: calc(20% + 4.5rem); width: 2rem;}
        50%{top: 20%; left: 0%; width: 2rem;}
        100%{top: 20%; left: 0%; width: 16rem;}
    }

    @keyframes move-E2
    {
        0%{top: 0%; left: calc(20% + 7rem); width: 2rem;}
        25%{top: 0%; left: calc(20% + 7rem); width: 2rem;}
        50%{top: 40%; left: 0%; width: 2rem;}
        100%{top: 40%; left: 0%; width: 20rem;}
    }

    @keyframes move-E3
    {
        0%{top:0%; left: calc(20% + 9.5rem); width: 2rem;}
        25%{top: 0%; left: calc(20% + 9.5rem); width: 2rem;}
        50%{top: 60%; left: 0%; width: 2rem;}
        100%{top: 60%; left: 0%; width: 18rem;}
    }
}

@media screen and (max-width: 700px)
{
    #about-header
    {
        position: relative;
        height: 59rem;
        width: 100%;
        background: no-repeat relative;
        background-position: 50%;
        background-size: auto 120%;
        background-image: url(../assets/angled_dark_cropped_new.jpg);
    }

    #about-logo
    {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 25%;
        width: 90%;
    }

    #about-subtext
    {
        position: absolute;
        top: 35%;
        left: 10%;
        height: 30rem;
        width: 90%;
    }

    #about-I
    {
        position: absolute;
        left: 0%;
        top: 0%;
        color: white;
        font-size: .3in;
        width: 7rem;
        overflow: hidden;
        animation: move-I 6s;
    }

    #about-E1
    {
        position: absolute;
        left: 0%;
        top: 20%;
        color: white;
        font-size: .3in;
        width: 7rem;
        overflow: hidden;
        animation: move-E1 6s;
    }

    #about-E2
    {
        position: absolute;
        left: 0%;
        top: 40%;
        color: white;
        font-size: .3in;
        width: 9rem;
        overflow: hidden;
        animation: move-E2 6s;
    }

    #about-E3
    {
        position: absolute;
        left: 0%;
        top: 60%;
        color: white;
        font-size: .3in;
        width: 8rem;
        overflow: hidden;
        animation: move-E3 6s;
    }

    

    #about-ua-logo
    {
        width: 75%;
        height: 75%;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }

    @keyframes move-I
    {
        0%{top: 0%; left: calc(5% + 1rem); width: .5rem;}
        25%{top: 0%; left: calc(5% + 1rem); width: .5rem;}
        50%{top: 0%; left: 0%; width: .5rem;}
        100%{top: 0%; left: 0%; width: 7rem;}
    }

    @keyframes move-E1
    {
        0%{top: 0%; left: calc(5% + 2rem); width: 1rem;}
        25%{top: 0%; left: calc(5% + 2rem); width: 1rem;}
        50%{top: 20%; left: 0%; width: 1rem;}
        100%{top: 20%; left: 0%; width: 7rem;}
    }

    @keyframes move-E2
    {
        0%{top: 0%; left: calc(5% + 3.5rem); width: 1rem;}
        25%{top: 0%; left: calc(5% + 3.5rem); width: 1rem;}
        50%{top: 40%; left: 0%; width: 1rem;}
        100%{top: 40%; left: 0%; width: 9rem;}
    }

    @keyframes move-E3
    {
        0%{top:0%; left: calc(5% + 5rem); width: 1rem;}
        25%{top: 0%; left: calc(5% + 5rem); width: 1rem;}
        50%{top: 60%; left: 0%; width: 1rem;}
        100%{top: 60%; left: 0%; width: 8rem;}
    }
}

#red-bar
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(155, 46, 27, 0.527);
}

#gray-bar
{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(7, 7, 7, 0.575);
}

#about-shadow
{
    z-index: 1;
    position: absolute;
    bottom: -1rem;
    width: 100%;
    height: 35%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1) 80%);
}

#about-content
{
    padding-top: 1rem;
    background-color: black;
    width: 100%;
    height: auto;
}

.about-section
{
    overflow: auto;
}

#about-img1
{
    float: right;
    width: 45%;
    margin-right: 2rem;
    margin-bottom: 4rem;
}

#about-text1
{
    font-size: 2vw;
    float: left;
    margin-left: 1rem;
    margin-bottom: 4rem;
    padding-left: 3rem;
    padding-right: 4rem;

}

#about-img2
{
    float: left;
    width: 44%;
    margin-left: 1rem;
}

#about-text2
{
    font-size: 2vw;
    float: right;
    margin-left: 2rem;
    margin-right: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

#about-img3
{
    float: right;
    width: 50%;
    height: 60%;
    margin-top: 8vw;
    
}

#about-text3
{
    font-size: 2vw;
    float: left;
    margin-top: 4vw;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 2rem;
    padding-right: 3rem;
}

.about-text
{
    width: calc(50% - 2rem);
    color: white;
    font-size: 2.5vw;
}

.about-img
{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}