@media screen and (min-width: 901px)
{
  #closebutton
  {
    z-index: 4;
    height: 65px;
    width: 60px;
    position: absolute;
    right: .7rem;
    border: none;
    background-color: rgba(43,43,43,0.75);
    visibility: hidden;
    transform: translateY(-30%);
    cursor: pointer;
  }
}

@media screen and (max-width: 900px) and (min-width: 601px)
{
  #closebutton
  {
    z-index: 4;
    height: 65px;
    width: 60px;
    position: absolute;
    right: .7rem;
    border: none;
    background-color: rgba(43,43,43,0.75);
    visibility: hidden;
    transform: translateY(-30%);
    cursor: pointer;
  }
}

@media screen and (max-width: 600px)
{
  #closebutton
  {
    z-index: 4;
    height: 65px;
    width: 60px;
    position: absolute;
    right: 0px;
    border: none;
    background-color: rgba(43,43,43,0.75);
    visibility: hidden;
    transform: translateY(-30%);
    cursor: pointer;
  }
}

#home-body
{
  height: 100%;
  overflow-y: hidden;
}

.openembed
{
    animation: createBox 1s;
    width: 100%;
    height: 100%;
    position:absolute;
    top:0px;
    left:0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.closedembed
{
  visibility: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.show-close-button
{
  animation: flashClose 2s;
}

#embed-display
{
  z-index: 3;
  background-color: rgba(0, 0, 0, 0);
}

@keyframes createBox
{
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes flashClose
{
  0% {background-color: rgba(43,43,43,0);}
  50% {background-color: rgba(255, 0, 0, 0.75);}
  100% {background-color: rgba(43,43,43,0.75);}
}