/* normal card */
.board-card
{

}

.card-selected
{
    border: .25rem solid rgb(255, 230, 0);
    animation: charge 1s;
}

.card-container
{
    width: 100%;
    height: 100%;
}

.interactive-card
{
    position: absolute;
    border: .25rem solid black;
    z-index: 3;
}

.exit
{
    background-color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 1rem;
    width: 4rem;
    cursor: pointer;
    position: absolute;
    right: -.25rem;
    top: -1.65rem;
    border-left: .25rem solid black;
    border-right: .25rem solid black;
    border-top: .25rem solid black;
    border-bottom: none;
}

.blur-back
{
    opacity: 0.75;
    background-color: gray;
    position: absolute;
    z-index: 2;
}

.board-image
{
    height: 8rem;
    width: 8rem;
    margin: .4rem;
    border-radius: 50%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.board-image img
{
    width: 100%;
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.selected-image
{
    height: 10rem;
    width: 10rem;
    margin: 1rem;
    border-radius: 50%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.selected-image img
{
    width: 100%;
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.hidden
{
    display: none;
}

.member-name
{

    font-family: Consolas;
    text-align: center;
}

.position
{
    margin: 0;
    font-family: Consolas;
    text-align: center;
    padding-left: .25rem;
    padding-right: .25rem;
}

@media screen and (min-width: 601px)
{
    .board-githubbutton
    {
        position: absolute;
        right: 5rem;
        top: 18rem;
        cursor: pointer;
        background-color: black;
        color: white;
        width: 7.81rem;
        height: 3.13rem;
    }

    .board-linkedinbutton
    {
        position: absolute;
        left: 5rem;
        top: 18rem;
        cursor: pointer;
        background-color: royalblue;
        color: white;
        width: 7.81rem;
        height: 3.13rem;
    }
}

@media screen and (max-width: 600px)
{
    .board-githubbutton
    {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        top: 24rem;
        cursor: pointer;
        background-color: black;
        color: white;
        width: 7.81rem;
        height: 3.13rem;
    }

    .board-linkedinbutton
    {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        top: 20rem;
        cursor: pointer;
        background-color: royalblue;
        color: white;
        width: 7.81rem;
        height: 3.13rem;
    }
}

.board-githubbutton:hover
{
    box-shadow: 5px 10px #888888;
    animation: shadowEffect 0.5s;
}

.board-githubimg
{
    height: 75%;
    position: absolute;
    transform: translateY(-50%);
    left: 8%;
    top: 50%;
}

.board-githubname
{
    left: 52%;
    top: 20%;
    position: absolute;
    transform: translateY(-50%);
}

.board-linkedinbutton:hover
{
    box-shadow: 5px 10px #888888;
    animation: shadowEffect 0.5s;
    width: 7.81rem;
    height: 3.13rem;
}

.board-linkedinimg
{
    height: 75%;
    position: absolute;
    transform: translateY(-50%);
    left: 8%;
    top: 50%;
}

.board-linkedinname
{
    left: 52%;
    top: 20%;
    position: absolute;
    transform: translateY(-50%);
}

@keyframes charge
{
    0%{border: .25rem solid rgb(172, 112, 0);}
    100%{border: .25rem solid rgb(255, 230, 0);}    
}