/* Normal Display */
@media screen and (min-width: 901px)
{
    /*Banner Components*/
    #banner
    {
        z-index: 3;
        width: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
    }

    #projectbanner
    {
        z-index: 3;
        height: 450px;
        position: absolute;
        top: 190px;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
    }

    #eventbanner
    {
        z-index: 3;
        width: 130%;
        height: calc(650px - 180px);
        position: absolute;
        top: 180px;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
    }

    #logo
    {
        z-index: 3;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 14px;
        transform: translateY(-50%);
    }

    /* Navigation Main */
    #navcontainer
    {
        z-index: 3;
        display: flex;
        justify-content: flex-end;
        width: 32%;
        height: 130px;
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translateY(-50%);
        visibility: visible;
    }

    #projectsbutton
    {
        z-index: 3;
        text-align: left;
        background-color: rgba(49, 49, 49, 0);
        border: none;
        cursor: pointer;
        padding-top: 1rem;
        visibility: visible;

        /* Text */
        color: white;
    }

    #schedulebutton
    {
        z-index: 3;
        text-align: left;
        background-color: rgba(49, 49, 49, 0);
        border: none;
        cursor: pointer;
        padding-top: 1rem;
        visibility: visible;

        /* Text */
        color: white;
    }

    #homebutton
    {
        z-index: 3;
        text-align: left;
        background-color: rgba(49, 49, 49, 0);
        border: none;
        cursor: pointer;
        padding-top: 1rem;
        visibility: visible;

        /* Text */
        color: white;
    }

    /* Triple bars */
    #menubutton
    {
        z-index: 3;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        text-align: left;
        visibility: hidden;
    }

    #reducedmenuimg
    {
        z-index: 3;
        height: 40%;
        position: absolute;
        top: 50%;
        left: 14px;
        transform: translateY(-50%);
        cursor: pointer;
        visibility: hidden;
    }


}

/* Reduced Display */
@media screen and (max-width: 900px) and (min-width: 601px)
{
    #banner
    {
        z-index: 3;
        width: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
    }

    #projectbanner
    {
        z-index: 3;
        height: 450px;
        position: absolute;
        top: 190px;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
    }

    #eventbanner
    {
        z-index: 3;
        width: 130%;
        height: calc(650px - 180px);
        position: absolute;
        top: 180px;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
    }

    #logo
    {
        z-index: 3;
        height: 80%;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50%;
    }

    /* Navigation Main */
    #navcontainer
    {
        z-index: 3;
        display: flex;
        justify-content: flex-end;
        width: 32%;
        height: 130px;
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translateY(-50%);
        visibility: hidden;
    }

    #projectsbutton
    {
        z-index: 3;
        text-align: left;
        background-color: rgba(49, 49, 49, 0);
        border: none;
        cursor: pointer;
        padding-top: 1rem;
        visibility: hidden;

        /* Text */
        color: white;
    }

    #schedulebutton
    {
        z-index: 3;
        text-align: left;
        background-color: rgba(49, 49, 49, 0);
        border: none;
        cursor: pointer;
        padding-top: 1rem;
        visibility: hidden;

        /* Text */
        color: white;
    }

    #homebutton
    {
        z-index: 3;
        text-align: left;
        background-color: rgba(49, 49, 49, 0);
        border: none;
        cursor: pointer;
        padding-top: 1rem;
        visibility: hidden;

        /* Text */
        color: white;
    }

    /* Triple bars */
    #menubutton
    {
        z-index: 3;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        text-align: left;
        visibility: visible;
    }

    #reducedmenuimg
    {
        z-index: 3;
        height: 40%;
        position: absolute;
        top: 50%;
        left: 14px;
        transform: translateY(-50%);
        cursor: pointer;
        animation: slowshow 1s;
    }
}

/* Mobile Display */
@media screen and (max-width: 600px)
{
    #banner
    {
        z-index: 3;
        width: auto;
        height: 24.5rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
    }

    #projectbanner
    {
        z-index: 3;
        height: 300px;
        position: absolute;
        top: 260px;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
    }

    #eventbanner
    {
        z-index: 3;
        width: 100%;
        height: 470px;
        position: absolute;
        top: 180px;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
    }

    #logo
    {
        z-index: 3;
        height: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 60%;
    }

    /* Navigation Main */
    #navcontainer
    {
        z-index: 3;
        display: flex;
        justify-content: flex-end;
        width: 32%;
        height: 130px;
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translateY(-50%);
        visibility: hidden;
    }

    #projectsbutton
    {
        z-index: 3;
        text-align: left;
        background-color: rgba(49, 49, 49, 0);
        border: none;
        cursor: pointer;
        padding-top: 1rem;
        visibility: hidden;

        /* Text */
        color: white;
    }

    #schedulebutton
    {
        z-index: 3;
        text-align: left;
        background-color: rgba(49, 49, 49, 0);
        border: none;
        cursor: pointer;
        padding-top: 1rem;
        visibility: hidden;

        /* Text */
        color: white;
    }

    #homebutton
    {
        z-index: 3;
        text-align: left;
        background-color: rgba(49, 49, 49, 0);
        border: none;
        cursor: pointer;
        padding-top: 1rem;
        visibility: hidden;

        /* Text */
        color: white;
    }

    /* Triple bars */
    #menubutton
    {
        z-index: 3;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        text-align: left;
        visibility: visible;
    }

    #reducedmenuimg
    {
        z-index: 3;
        height: 30%;
        position: absolute;
        top: 50%;
        left: 14px;
        transform: translateY(-50%);
        cursor: pointer;
        animation: slowshow 1s;
    }
}
/* Common */

#header
{
    width: 100%;
}

#projectHeader
{
    width: 100%;
    height: 650px;
}

#eventHeader
{
    width: 100%;
    height: 650px;
}

.hidden
{
   position: absolute;
   opacity: 0; 
}

/* Navigation Main */
#navigation
{
    z-index: 3;
    background-color: rgba(42, 0, 51, 0.8);
    width: 100%;
    height: 7.813rem;
    position: absolute;
    top: 50px;
    left: 0;
    border-top: 3px solid orange;
    border-bottom: 5px double orange;
}

.enavbutton
{
    z-index: 3;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    right: 2%;
    padding-top: 1.25rem;
    padding-left: 1.563rem;
    padding-right: 1.563rem;
}

/* Extended Menu */

.extendedmenuhidden
{
    opacity: 0;
}

.extendedmenushow
{
    width: 30rem;
    height: 18.75rem;
    background-color: rgba(43, 43, 43, 1);
    position: absolute;
    top: calc(100% + 1px);
    right: 1%;
    animation: extendedmenushow 1s;
}

.columns
{
    animation: columnshow 1s;
}

#column1
{
    width: 10rem;
    height: 18.75rem;
}

#column2
{
    width: 10rem;
    height: 18.75rem;
    position: absolute;
    left: 150px;
    top: 0;
}

.leftline
{
    width: 0.2rem;
    height: 18.95rem;
    background-color: orange;
    position: absolute;
    left: -0.2rem;
    animation: leftlineshow .25s;
}

.bottomline
{
    width: 30.2rem;
    height: 0.2rem;
    background-color: orange;
    position: absolute;
    bottom: -0.2rem;
    animation: bottomlineshow .50s;
}

.rightline
{
    width: 0.2rem;
    height: 18.95rem;
    background-color: orange;
    position: absolute;
    right: -0.2rem;
    animation: rightlineshow .75s;
}

/* Navigation Reduced */

#menu
{
    z-index: 4;
    background-color: rgba(43, 43, 43, 1);
    width: 350px;
    height: 460px;
    position: absolute;
    top: 0%;
}

#menu-close
{
    width: 2rem;
    height: 2.4rem;
    background-color: rgba(43, 43, 43, 1);
    color: white;
    text-align: center;
    align-items: center;
    font-size: .15in;
    position: absolute;
    left: 100%;
}

#menu-close:hover
{
    background-color: rgb(245, 0, 0);
}

#project-buttons
{
    width: 100%;
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
}

.hide-project-buttons
{
    animation: hideprojectsbuttons .25s;
    height: 0;
    overflow: hidden;
}

.show-project-buttons
{
    animation: showprojectsbuttons 1s;
    padding-top: 2rem;
    height: 6rem;
    border-bottom: 2px solid white;
}

.alt-menu-button
{
    /* Container */
    width: calc(100% - 1rem);
    z-index: 4;
    border-top: none;
    border-bottom: 2px solid white;
    border-left: none;
    border-right: none;
    background-color: rgba(0, 0, 0, 0);
    text-align: left;
    cursor: pointer;
    padding: .5rem;

    /* Text */
    color: white;
    top: 0%;
    left: 0%;
}

h1
{
    margin: 0;
}

.alt-menu-button:hover
{
    background-color: rgb(172, 112, 0);
}

.mini-alt-menu-button
{
    height: 2.5rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;

    /* Text */
    color: white;
    font-size: .125in;
}

.mini-alt-menu-button:hover
{
    background-color: rgb(172, 112, 0);
}


.menuinitialhide
{
    left: -400px;
}

.menushow
{
    left: 0;
    animation: slowmenushow 1s;
}

.menuhide
{
    left: -400px;
    animation: slowmenuhide 0.1s;
}

/* Animations */

/* Reduced Menu Button */
@keyframes slowshow {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slowhide {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

/* Reduced Menu */
@keyframes slowmenushow {
    0% {left: -400px;}
    100% {left: 0;}
}

@keyframes slowmenuhide {
    0% {left: 0;}
    100% {left: -400px;}
}

/* Extended Menu */
@keyframes extendedmenushow {
    0% {background-color: rgba(43, 43, 43, 0);}
    75% {background-color: rgba(43, 43, 43, 0);}
    100% {background-color: rgba(43, 43, 43, 1);}
}

@keyframes leftlineshow {
    0% {height: 0;}
    100% {height: 18.95rem;}
}

@keyframes bottomlineshow {
    0% {width: 0;}
    50% {width: 0;}
    100% {width: 30.2rem;}
}

@keyframes rightlineshow {
    0% {height: 0; top: 18.95rem;}

    66% {height: 0; top: 18.95rem;}

    100% {height: 18.95rem; top: 0;}
}

@keyframes columnshow
{
    0% {opacity: 0;}
    75% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes showprojectsbuttons
{
    0%
    {
        overflow: hidden; 
        border-bottom: 2px solid white;
        padding-top: 0;
        height: 0; 
    }
    100%
    {
        overflow: visible; 
        border-bottom: 2px solid white;
        padding-top: 2rem;
        height: 6rem;
    }
}

@keyframes hideprojectsbuttons
{
    0%
    {
        overflow: hidden; 
        border-bottom: 2px solid white;
        padding-top: 2rem;
        height: 6rem;
    }
    100%
    {
        overflow: hidden; 
        border-bottom: none;
        padding-top: 0;
        height: 0;
    }
}