#footer
{
    position: relative;
    height: 100px;
    padding: 20px;
    background-color: #361253;
}
.footer-socialIcons
{
    position: absolute;
    bottom: 15px;
    right : 40px;
}

.footer-socialIcon
{
    width: 48px;
    height: 48px;
    margin-left: 10px;
}

.footer-ieeeIcon
{
    height: 48px;
}
.logo-text
{
    position:absolute;
    font-size: 21px;
    bottom: 50px;
    left: 70px;
    color:#FFCD19;
}
@media(max-width: 768px){
    #footer 
    {
        position: relative;
        height: 150px;
        padding: 20px;
         
       
    }

    .footer-socialIcons 
    {
        position: absolute;
        bottom: 15px;
        right : 40px;
    }

    .footer-socialIcon
    {
        width: 48px;
        height: 48px;
        margin-left: 10px;
    }
    .logo-text
    {
        position:absolute;
        font-size: 21px;
        bottom: 100px;
        left: 70px;
        color:#FFCD19;
    }
}