/* Add normal class to all css components */

/* Footer */
#footer
{
    float: left;
    width: 101%;
    height: 250px;
    position: relative;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
    top: -25px
}

#footerbackground
{
    width: 2500px;
    position: absolute;
    transform: translateY(-50%);

    top: 50%;
    left: -25%;
}

#footercontent
{
    z-index: 5;
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

#footerlinks
{
    z-index: 5;
    width: 800px;
    height: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

#footerlinks.mobile
{
    top: 60%;
    left: 46%;
}

.footerlinks
{
    width: 50px;
    padding: 1px 0.5%;
    cursor: pointer;
}

#footerlogo
{
    z-index: 5;
    width: 450px;
    position: relative;
    transform: translate(-50%,-50%);
    top: 35%;
    left: 50%
}

#footerlogo.mobile
{
    width: 350px;
    top: 30%;
    left: 52%
}

#youtubelink
{
    z-index: 6;
    position: relative;
    transform: translate(-50%,-50%);
    top: 30%;
    left: 35%;
}

#discordlink
{
    z-index: 6;
    position: relative;
    transform: translate(-50%,-50%);
    top: 30%;
    left: 35%;
}

#linkedinlink
{
    z-index: 6;
    position: relative;
    transform: translate(-50%,-50%);
    top: 30%;
    left: 35%;
}

#githublink
{
    z-index: 6;
    position: relative;
    transform: translate(-50%,-50%);
    top: 30%;
    left: 34.5%;
}

#instagramlink
{
    z-index: 6;
    position: relative;
    transform: translate(-50%,-50%);
    top: 30%;
    left: 34%;
}

#twitterlink
{
    z-index: 6;
    position: relative;
    transform: translate(-50%,-50%);
    top: 30%;
    left: 33.5%;
}