#footer
{
    position: relative;
    height: 90px;
    padding: 20px;
    background-color: #361253;
}
.footer-socialIcons
{
    position: absolute;
    bottom: 20px;
    right : 20px;
}

.footer-socialIcon
{
    width: 48px;
    height: 48px;
    margin-left: 10px;
}

.footer-ieeeIcon
{
    height: 48px;
}
@media(max-width: 768px){
    #footer {
        height: auto;
        padding: 10px;
        text-align: center;
    }

    .footer-socialIcons {
        position: static;
        margin-top: 10px;
    }

    .footer-socialIcon {
        margin-left: 5px;
        width: 25px;
        height: 25px;
    }
}




