/* Add normal class to all css components */

@media screen and (min-width: 601px)
{
    #footerlinks
    {
        z-index: 5;
        width: 800px;
        height: 100%;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
    }

    #footerlogo
    {
        z-index: 5;
        width: 450px;
        position: relative;
        transform: translate(-50%,-50%);
        top: 35%;
        left: 50%
    }   
}

/* Mobile display */
@media screen and (max-width: 600px)
{
    #footerlinks
    {
        z-index: 5;
        width: 800px;
        height: 100%;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 60%;
        left: 46%;
    }

    #footerlogo
    {
        z-index: 5;
        position: relative;
        transform: translate(-50%,-50%);
        width: 350px;
        top: 30%;
        left: 52%
    }
}

/* Footer */
#footer
{
    float: left;
    width: 101%;
    height: 12.5rem;
    position: relative;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%);
}

#footer-trans
{
    float: left;
    width: 101%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#footerbackground
{
    width: 100%;
    height: 12.5rem;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

#footercontent
{
    z-index: 5;
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

.footerlinks
{
    width: 50px;
    padding: 1rem 0.5%;
    cursor: pointer;
}

#youtubelink
{
    z-index: 6;
    position: relative;
    transform: translate(-50%,-50%);
    top: 30%;
    left: 32%;
}

#discordlink
{
    z-index: 6;
    position: relative;
    transform: translate(-50%,-50%);
    top: 30%;
    left: 34%;
}

#linkedinlink
{
    z-index: 6;
    position: relative;
    transform: translate(-50%,-50%);
    top: 30%;
    left: 35.5%;
}

#githublink
{
    z-index: 6;
    position: relative;
    transform: translate(-50%,-50%);
    top: 30%;
    left: 36%;
}

#instagramlink
{
    z-index: 6;
    position: relative;
    transform: translate(-50%,-50%);
    top: 30%;
    left: 36.5%;
}