@media screen and (min-width: 901px)
{
    .profilecard
    {
        position: relative;
        transform: translateX(-50%);
        width: 40rem;
        height: 20rem;
        left: 50%;
    }

    #name
    {
        position: absolute;
        font-size: 50px;
        top: 2rem;
        left: 14.5rem;
    }

    #membership
    {
        position: absolute;
        font-size: 25px;
        top: 12rem;
        left: 14.5rem;
    }

    #profileimage
    {
        position: relative;
        transform: translateY(-50%);
        top: 50%;
        left: 1rem;
        border-radius: 100px;
        width: 200px;
        height: 200px;
    }

    .githubbutton
    {
        position: absolute;
        left: 50%;
        top: 17rem;
        cursor: pointer;
        background-color: black;
        color: white;
        width: 125px;
        height: 50px;
    }

    .linkedinbutton
    {
        position: absolute;
        left: 25%;
        top: 17rem;
        cursor: pointer;
        background-color: royalblue;
        color: white;
        width: 125px;
        height: 50px;
    }
}

/* Reduced screen for tablets and reduced windows */
@media screen and (max-width: 900px) and (min-width: 601px)
{
    .profilecard
    {
        position: relative;
        transform: translateX(-50%);
        width: 30rem;
        height: 18rem;
        left: 50%;
    }

    #name
    {
        position: absolute;
        font-size: 50px;
        top: 30px;
        left: 11.5rem;
        font-size: 44px;
    }

    #membership
    {
        position: absolute;
        font-size: 25px;
        top: 11rem;
        left: 10rem;
        font-size: 22px;
    }
    #profileimage
    {
        position: relative;
        transform: translateY(-50%);
        top: 50%;
        border-radius: 100px;
        width: 150px;
        height: 150px;
        left: 30px;
    }

    .githubbutton
    {
        position: absolute;
        cursor: pointer;
        background-color: black;
        color: white;
        width: 125px;
        height: 50px;
        left: 2rem;
        top: 15rem;
    }

    .linkedinbutton
    {
        position: absolute;
        cursor: pointer;
        background-color: royalblue;
        color: white;
        width: 125px;
        height: 50px;
        left: 12rem;
        top: 15rem;
    }
    
}

@media screen and (max-width: 600px)
{
    .profilecard
    {
        position: relative;
        transform: translateX(-50%);
        width: 16rem;
        height: 15rem;
        top: 20px;
        left: 50%;
    }

    #name
    {
        position: absolute;
        font-size: 50px;
        top: 3rem;
        left: 7rem;
        font-size: 2rem;
    }

    #membership
    {
        position: absolute;
        font-size: 25px;
        top: 9.5rem;
        left: 1rem;
        font-size: 20px;
    }

    #profileimage
    {
        position: relative;
        transform: translateY(-50%);
        top: 50%;
        left: .5rem;
        border-radius: 100px;
        width: 6rem;
        height: 6rem;
    }

    .githubbutton
    {
        position: absolute;
        cursor: pointer;
        background-color: black;
        color: white;
        width: 125px;
        height: 50px;
        left: 40px;
        top: 230px;
    }

    .linkedinbutton
    {
        position: absolute;
        cursor: pointer;
        background-color: royalblue;
        color: white;
        width: 125px;
        height: 50px;
        left: 190px;
        top: 230px;
    }
}

/* Common */
.githubbutton:hover
{
    box-shadow: 5px 10px #888888;
    animation: shadowEffect 0.5s;
}

.githubimg
{
    height: 75%;
    position: absolute;
    transform: translateY(-50%);
    left: 8%;
    top: 50%;
}

.githubname
{
    left: 52%;
    top: 20%;
    position: absolute;
    transform: translateY(-50%);
}

.linkedinbutton:hover
{
    box-shadow: 5px 10px #888888;
    animation: shadowEffect 0.5s;
    width: 125px;
    height: 50px;
}

.linkedinimg
{
    height: 75%;
    position: absolute;
    transform: translateY(-50%);
    left: 8%;
    top: 50%;
}

.linkedinname
{
    left: 52%;
    top: 20%;
    position: absolute;
    transform: translateY(-50%);
}