.workshop-archive-card
{
    position: absolute;
}

.workshop-archive-text
{
    color: white;
    margin: 0;
    cursor: pointer;
}

.workshop-archive-text:hover
{
    color: orange;
}

.folder-top
{
    position: absolute;
    top: -2.45vw;
}

.folder-top-img
{
    width: 20vw;
}

.folder-body
{
    position: relative;
    background-color: blanchedalmond;
    width: 50vw;
    height: 25vw;
}

.workshop-archive-title
{
    padding-top: 2vw;
    text-align: center;
    font-size: 2vw;
}

.workshop-archive-description
{
    padding-left: 3vw;
    padding-right: 3vw;
    line-height: 2vw;
    text-align: center;
    font-size: 1.3vw;
}

.workshop-archive-thumbnail
{
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 20vw;
    height: 10vw;
}

.hidden
{
    display: none;
}