@media screen and (min-width: 901px)
{
    #schedule-title
    {
        position: relative;
        left: 100px;
        font-size: 50px;
        color: black;
    }

    #card-container
    {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-row-gap: 100px;
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 900px) and (min-width: 601px)
{
    #schedule-title
    {
        position: relative;
        text-align: center;
        left: 0px;
        font-size: 38px;
        color: black;
    }

    #card-container
    {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 100px;
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 600px)
{
    #schedule-title
    {
        position: relative;
        text-align: center;
        left: 0px;
        font-size: 30px;
        color: black;
    }

    #card-container
    {
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 100px;
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        justify-content: space-evenly;
    }
}

#schedule-page-body
{
    background-color: rgb(70, 70, 70);
}

#schedule-container
{
    width: 100%;
    padding-bottom: 100px;
    position: relative;
    left: 0px;
}

.event-card
{
    position: relative;
}